{% extends 'GameJamCompoBundle:Notification:_team_request_title.html.twig' %}

{% block content %}
    <br><br>
    Si quieres aceptar esta petición <a href="{{ path('gamejam_compo_team_accept_request', {compo: team_invitation.compo.nameSlug, teamInvitation: team_invitation.hash}) }}">haz click aquí</a>.
{% endblock %}