{% extends 'GameJamUserBundle:Panel:edit.html.twig' %}

{% block content %}
    <div class="section profile">
        <h1>Conectar cuenta externa</h1>
        {% block hwi_oauth_content %}
        {% endblock %}
    </div>
{% endblock %}
