{% extends 'GameJamCompoBundle::layout.html.twig' %}

{% block content %}
    <div class="section profile">
        <h2>¡Acceso denegado!</h2>
        <p>Qué intentabas...</p>
    </div>
{% endblock %}
