{% extends 'GameJamCompoBundle::layout.html.twig' %}

{% block content %}
    <div class="section profile">
    <h2>¡Página no encontrada!</h2>
    <p>La página que buscas no se ha podido encontrar :(</p>
    </div>
{% endblock %}
