/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters*.yml
/app/logs/*
/build/
/vendor/
/bin/
/composer.phar
/web/img/
/web/css/
/web/js
/app/build
cache.properties
app/uploads/*
app/sessions/*
web/sitemap*
/web/blog/(!wp-config.php)
web/components
web/uploads/*
web/media/*
web/uploads
badges/generated/*
src/GJA/GameJam/UserBundle/Resources/badges/generated/
cache/