/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/build/
/vendor/
/bin/
/composer.phar
/web/img/
/web/css/
/web/js
/app/build
cache.properties
app/uploads/*
app/sessions/*
web/uploads/*
web/sitemap*
/web/blog/(!wp-config.php)
web/components
web/media