{% extends 'GameJamCompoBundle:Mail:layout.html.twig' %}

{% block subject %}[GameJam Alicante] Confirmar direcci贸n de correo{% endblock %}
{% block title %}Confirmar direcci贸n de correo{% endblock %}

{% block content %}Pulsa en el siguiente enlace para confirmar tu direcci贸n de correo:<br><br>
    <a href="{{ confirmationUrl }}">{{ confirmationUrl }}</a>
{% endblock %}

{% block body_text %}
Para confirmar tu direcci贸n, visita el siguiente enlace: {{ confirmationUrl }}
{% endblock %}