.gallery .elastislide-horizontal {
    background-color: transparent;
}

.gallery .elastislide-horizontal.elastislide-loading {
}

.gallery .elastislide-carousel ul li a{
    padding: 2px;
}

.gallery .elastislide-carousel ul li a img {
    border: none;
    box-shadow: 0 1px 2px #000;
}

.gallery .elastislide-wrapper nav span {
    background-color: #666;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
}

.gallery .image-preview img {
    width: 100%;
    display: block;
    height: 300px;
}

.gallery .elastislide-carousel ul li.current-img a img {
    box-shadow: 0 0 3px 2px rgba(62,235,255,0.8);
}