html
{
    height: 100%;
}

body
{
    font-family:"Open Sans", sans-serif;
    color: #000;
    background: url(/bundles/gamejamcompo/images/bg.jpg);
    height: 100%;
    min-height: 100%;
}

.navbar-default
{
    background-color: #222;
    box-shadow: 0 5px 10px rgba(0,0,0,1);
    border-top: 1px solid black;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    margin-bottom: 0;
}

.navbar-left
{
    margin-top: 10px;
}

.navbar .logged
{
    color: #FFF;
}

.navbar .logged ul
{
    list-style-type: none;
    margin-top: 10px;
}

.navbar .logged ul li
{
    display: inline-block;
    margin-right: 10px;
    font-size: 15px;
    color: #7f7f7f;
}

.navbar .logged ul li.asset
{
    font-size: 18px;
}

.avatar
{
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.navbar .avatar
{
    width: 25px;
    margin-left: 10px;
}

.btn
{
    border: none;
    text-align: center;
    font-size: 14px;
    padding: 2px 7px 0 7px;
    width: auto;
    background-color: #ccc;
    text-decoration: none;
    color: #666;
    border-radius: 10px;
    box-shadow: inset 0 -1px 0 rgba(255,255,255,0.4),
    0 4px 0 #aaa,
    0 4px 3px rgba(0,0,0,0.7);
}

.btn:hover
{
    color: #111;
}

.btn:active
{
    background-color: #aaa;
    box-shadow: inset 0 -1px 0 rgba(255,255,255,0.1),
    0 1px 0 #888,
    0 1px 3px rgba(0,0,0,0.7);
}

.btn.btn-green
{
    background-color: #c5e5be;
    box-shadow: inset 0 -1px 0 rgba(255,255,255,0.2),
    0 4px 0 #93ac8f,
    0 4px 3px rgba(0,0,0,0.7);
    padding: 2px 7px 0 7px;
}

.btn.btn-green:hover
{
    background-color: #93ac8f;
    box-shadow: inset 0 -1px 0 rgba(255,255,255,0.1),
    0 1px 0 #73866f,
    0 1px 3px rgba(0,0,0,0.7);
}

.btn.btn-facebook
{
    background-color: #434be5;
    box-shadow: inset 0 -1px 0 rgba(36, 57, 255, 0.20),
    0 4px 0 #103c64,
    0 4px 3px rgba(0,0,0,0.7);
    padding: 2px 7px 0 7px;
    color: #FFF;
}

.btn.btn-facebook:hover
{
    background-color: #3038ae;
    box-shadow: inset 0 -1px 0 rgba(36, 57, 255, 0.20),
    0 4px 0 #134776,
    0 4px 3px rgba(0,0,0,0.7);
    padding: 2px 7px 0 7px;
    color: #FFF;
}

.btn.btn-twitter
{
    background-color: #a781e5;
    box-shadow: inset 0 -1px 0 rgba(36, 57, 255, 0.20),
    0 4px 0 #1868ac,
    0 4px 3px rgba(0,0,0,0.7);
    padding: 2px 7px 0 7px;
    color: #FFF;
}

.btn.btn-twitter:hover
{
    background-color: #3038ae;
    box-shadow: inset 0 -1px 0 rgba(36, 57, 255, 0.20),
    0 4px 0 #134776,
    0 4px 3px rgba(0,0,0,0.7);
    padding: 2px 7px 0 7px;
    color: #FFF;
}

.btn.btn-logout
{
    background-color: #e56d4d;
    box-shadow: inset 0 -1px 0 rgba(180, 39, 31, 0.69),
    0 4px 0 #ac2c1f,
    0 4px 3px rgba(0,0,0,0.7);
    padding: 2px 7px 0 7px;
    color: #FFF;
}

.btn.btn-logout:hover
{
    background-color: #ad5639;
    box-shadow: inset 0 -1px 0 rgba(114, 27, 21, 0.69),
    0 4px 0 #611811,
    0 4px 3px rgba(0,0,0,0.7);
    padding: 2px 7px 0 7px;
    color: #FFF;
}

.navbar input
{
    background: rgba(0,0,0,0.5);
    border: none;
    border-radius: 5px;
    padding:4px;
    color: white;
    box-shadow: inset 0 1px 3px rgba(0,0,0,1),
    0 1px 0 rgba(255,255,255,0.1);
    height: 30px;
}

.navbar .login-form i
{
    color: #4b4b4b;
}

.navbar .form-group .btn
{
    margin-bottom: 5px;
}

.container.layout
{
    width: 1024px;
    margin-top: 0;
}

.wrapper {
    height: auto !important;
}

.layout header
{
    height: 120px;
}

.layout header .header-right
{
    position: relative;
    width: 465px;
    height: 100%;
}

.layout header .menu
{
    list-style: none outside none;
    position: absolute;
    bottom: -1px;
    margin-bottom: 0;
    padding-left: 0;
}

.layout header .menu li
{
    display: inline-block;
    padding: 5px 10px;
}


.layout header .menu li a
{
    font-size: 13px;
    text-decoration: none;
    color: #444;
    font-weight: bold;
    padding: 5px 10px;
}

.layout header .menu li.active a{
    border-radius: 10px 10px 0 0;
    color: #eee;
    background-color: rgba(50,50,50,0.7);
    z-index: 20;
    position: relative;
}


.pest li:not(.active) a:hover{
    color: #aaa;
}

.content
{
    padding: 5px 20px 50px;
    height: auto;
    background-color: rgba(50,50,50,0.7);
    box-shadow: 0 10px 10px rgba(0,0,0,0.4);
    margin-bottom: 0px;
    border-radius: 3px;
}

.content .section
{
    background-color: #eef;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    padding: 15px;
    color: #202830;
}

.content h1, .content h2, .content .section h1, .content .section h2
{
    color: #153353;
    text-shadow: 0 1px 5px rgba(0,0,0,0.5);
    text-decoration: none;
    font-size: 1.5em;
    margin: 0;
    text-align: left;
}

.content h1, .content .section h1
{
    font-size: 2em;
}

.content h2
{
    color: #b69ea2;
    margin-top: 20px;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.content .section.text h2
{
    margin-top: 30px;
}

.content .section p
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.content .section.rules p:not(.norule)
{
    background-color: #e1e1f2;
    padding: 10px;
    border-radius: 5px;
}

.content .section.rules p span
{
    color: #b41c17;
    font-weight: bold;
}
.content .section.rules p span:after
{
    content: " - ";
}

.content .featured
{
    background-color: rgba(0,0,0,0.3);
    padding: 5px;
}

.featured .col-md-4
{
    padding: 4px;
}

.featured .box
{
    display: inline-block;
    height: 175px;
    border-radius: 10px;
    background: white center center;
    background-size: 100% 100%;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    width: 100%;
}

.featured .box.what
{
    background-image: url(/bundles/gamejamcompo/images/featured1.png);
}

.featured .box.register
{
    background-image: url(/bundles/gamejamcompo/images/featured2.png);
}

.featured .box.games
{
    background-image: url(/bundles/gamejamcompo/images/featured3.png);
}

.box:hover
{
    box-shadow: 0 0 20px rgba(255,255,255,0.2);
}

.featured .box h2
{
    float:left;
    background-color: rgba(0,0,0,0.7);
    padding: 5px;
    border-radius: 5px;
    margin: 10px 10px 0;
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
}

.featured .box .description
{
    float: left;
    text-align: left;
    margin-left: 15px;
    margin-top: 5px;
    text-shadow:0 0 3px rgba(0, 0, 0, 0.70);
    color: black;
}

.container .social-media
{
    padding: 15px;
    text-align: center;
    color: #FFF;
}

.section .news
{
    padding: 15px 10px 10px;
}

.section .news .item
{
    padding: 5px;
}

.section .news .item span.date
{
    color: #221b37;
    font-size: 12px;
    border-radius: 10px;
    padding: 2px 7px;
    background-color: #f5bbff;
    display: inline-block;
}

.section .news .item h3
{
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    color: #265488;
    text-shadow: 0 1px 5px rgba(0,0,0,0.5);
    margin: 0 0 5px;
}

footer
{
    min-height: 300px;
    clear: both;
}

footer .menu
{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.48);
    margin-bottom: 10px;
    border-radius: 0 0 10px 10px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
}

footer .menu a
{
    color: #FFF;
    text-shadow:0 0 3px rgba(86, 86, 86, 0.70);
}

footer .wood
{
    width: 100%;
    min-height: 300px;
    background: white url(/bundles/gamejamcompo/images/footer.jpg) center;
    box-shadow: inset 0 7px 10px rgba(0,0,0,0.6);
    border-top: solid #333;
}

footer .sponsors
{
    text-align: center;
    margin: 10px 10px 45px;
}

footer .sponsors img.sponsor
{
    max-height: 80px;
    margin-right: 10px;
}

footer .sponsors h3
{
    color: #000;
    font-size: 20px;
    text-shadow:0 0 3px rgba(86, 86, 86, 0.70);
    margin-bottom: 25px;
}

footer .copyright
{
    text-align: center;
    color: #000;
}

footer .copyright a
{
    color: #1e1122;
    text-shadow:0 0 3px rgba(223, 223, 223, 0.70);
}

.section.profile .info
{
    padding-left: 15px;
}

.section.profile .avatar
{
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    margin-right: 20px;
}

.section.profile .pull-right .avatar
{
    margin-right: 0;
    margin-left: 20px;
}

.section.profile .info
{
    width: auto;
}

.section.profile .info .asset
{
    height: 30px;
    margin-left: 10px;
}

.section.profile .info .action
{
    font-size: 18px;
    color: #221b37;
    border-radius: 10px;
    padding: 5px 10px;
    float: right;
    margin-left: 15px;
}

.section.profile .info .asset.game
{
    margin-left: 20px;
}

.section.profile p.presentation
{
    color: #5e5e5e;
}

.section.description {
    padding-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    background-color: white;
    min-height: 30px;
}
.section.description:before{
    content: "▲";
    font-size: 50px;
    position: absolute;
    margin-top: -75px;
    color: white;
    text-shadow: 0 -3px 3px rgba(0,0,0,0.2);
}

.section.description span.date
{
    color: #221b37;
    font-size: 12px;
    border-radius: 10px;
    padding: 2px 10px;
    background-color: #f5bbff;
    float: right;
    margin-left: 15px;
}

.section.achievements
{
    background: url('/bundles/gamejamcompo/images/achievements.jpg') center top;
    background-size: 840px auto;
    max-height: 500px;
    min-height: 100px;
    border: solid #2c2214 2px;
    box-shadow:inset 0 5px 10px rgba(0,0,0,0.6),
    0 0 30px rgba(255,255,255, 0.2);
    padding: 10px;
}

.section.achievements div.achievement
{
    width: 155px;
    display: inline-block;
    background-size: auto 50px;
    margin: 7px 7px 20px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.48);
    color: #FFF;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}

.section.achievements div.achievement img
{
    width: auto;
}

.section.achievements div.achievement p.title
{
    font-size: 12px;
    overflow: auto;
    width: 100%;
    margin-top: 0;
    background-color: rgba(0, 0, 0, 0.57);
    padding: 3px;
    border-radius: 5px;
}

.section.achievements div.none
{
    color: #FFF;
    border-radius: 10px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.48);
}

.activity .item
{
    color: #bcbcbc;
    border-radius: 10px;
    padding: 15px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.48);
}

.activity .item span
{
    color: #a6a6a6;
    font-size: 12px;
    border-radius: 10px;
    padding: 2px 8px;
    background-color: rgba(62, 62, 62, 0.48);
}

.activity .item.twitt img
{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.activity .item.achievement h3
{
    font-size: 14px;
}

textarea.shout
{
    width: 100%;
}

.section.game
{
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 0;
}

.section.game h1
{
    color: #FFF;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    box-shadow: 0 0 10px #000000;
    padding: 15px;
}

.section.game h2
{
    color: #FFF;
}

.section.game .content
{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 15px;
    margin-top: 15px;
}

.section.game .content.info p
{
    color: #aeaeae;
}

.section.game .content.info.showcase p.description
{
    height: 120px;
    overflow-y: scroll;
    font-size: 12px;
    overflow-x: hidden;
    padding-right: 15px;
}

.section.game .downloads .download
{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    box-shadow: 0 0 10px #000000;
    margin-top: 10px;
    padding: 10px;
}

.section.game .downloads .download h4
{
    margin-top: 0;
    color: #FFF;
    margin-bottom: 15px;
}

.section.game .downloads .download p.description
{
    color: #807878;
    font-size: 13px;
}

.section.register p
{
    background-color: #e1e1f2;
    padding: 10px;
    border-radius: 5px;
}

.nopadding
{
    padding-left:0;
}

.nopadding.last
{
    padding-right: 0;
}

.section .bottom
{
    margin: 30px;
    text-align: center;
}

.section .bottom .btn
{
    margin-right: 20px;
}

.bottom .submit
{
    margin: 20px;
    background-color: #60f493;
    border: none;
    padding: 5px;
    text-decoration: none;
    color: rgba(0,0,0,0.7);
    font-size: 30px;
    border-radius: 10px;
    box-shadow: inset 0 -2px 1px rgba(255,255,150,0.2),
    inset 5px 8px 15px rgba(0,0,0,0.2),
    0 5px 0 #41a463,
    0 5px 10px rgba(0,0,0,0.7);
}

.section .staff
{
    text-align: center;
    margin-top: 20px;
}

.section.activity
{
    background: transparent;
    -webkit-box-shadow: none   ;
    -moz-box-shadow: none   ;
    box-shadow: none   ;
    padding: 5px;
}

.section.activity h2
{
    color: #919191;
    text-align: center;
}

.section.index.activity .item
{

}

.activity .item .avatar
{
    float: left;
    margin-right: 10px;
}

.activity .item span.type
{
    float: right;
}

.activity .item p
{
    margin-top: 10px;
}

.activity .item h3
{
    margin-top: 0;
    font-size: 18px;
    margin-bottom: 8px;
}

.activity .item p img
{
    width: 100px;
    float: right;
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(53, 111, 182, 0.67);
}

.section .contributor
{
    background-color: #e1e1f2;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.section .contributor h2
{
    margin: 5px 0 0;
}

.section .contributor img.logo
{
    float: right;
    margin-right: 15px;
    width: 100px;
}

.section.active-compo
{
    background-color: #fff6c8;
    text-align: center;
    border: 2px solid #000;
}

.section.active-compo h2
{
    margin-bottom: 10px;
    text-align: center;
}

.section.active-compo p
{
    font-size: 16px;
}

.section.compo .application, .section.compo .description
{
    background-color: #e1e1f2;
    padding: 10px;
    margin-top: 15px;
}

.section.compo .compo-content
{
    margin-top: 20px;
}

.section.compo .shoutbox
{
    margin-bottom: 20px;
}

.section.compo .shoutbox .twitter
{
    padding: 2px;
    font-size: 12px;
    margin-bottom: 5px;
}

.section.compo .activity, .section.compo .shoutbox
{
    margin-top: 20px;
}

.section.compo .activity .item
{
    margin-bottom: 20px;
}

.section.compo .activity .item
{
    color: #221b37;
    border-radius: 10px;
    padding: 15px;
    font-size: 16px;
    background-color: rgba(159, 170, 190, 0.48);
}

.section.compo .activity .item.achievement
{
    font-size: 14px;
    background-color: rgba(175, 190, 89, 0.48);
}


.section.compo .activity .item span
{
    color: #f5bbff;
    font-size: 12px;
    border-radius: 10px;
    padding: 2px 8px;
    background-color: rgba(34, 27, 55, 0.48);
}

.section.compo .activity .item.twitt img
{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.section.compo .description img.sponsor
{
    margin-top: 10px;
    margin-right: 10px;
}

.loading
{
    display: none;
}

.loading.show
{
    display: block;
}

.section.inscription .prices
{
    margin-bottom: 25px;
}

.section.inscription .prices span
{
    font-size: 40px;
    display: block;
}

.btn-download
{
    color: white;
    text-decoration: none;
    padding: 10px;
    background-color: #669438;
    border-radius: 2px;
    box-shadow: inset 1px 1px 0 rgba(255,255,255,0.2),
    inset -1px 1px 0 rgba(255,255,255,0.2),
    inset 0 20px 20px rgba(255,255,255,0.1);
    text-shadow: 0 0 5px rgba(0,0,0,0.2);
    border: solid 3px #3d3d3d;
    display: inline-block;
    width: 100%;
}

label
{
    margin-bottom: 10px;
}

.prices .price
{
    padding: 10px;
    background-color: #EFEFEF;
    text-align: center;
}

.form-result
{
    margin-top: 15px;
}

.input-group.datetime select
{
    width: auto;
}

.input-group.datetime input
{
    width: auto;
}

.form-control.select2
{
    padding: 0;
}

ul.media, ul.downloads
{
    padding: 0;
    margin: 0;
    overflow: visible;
    list-style-type: none;
}


ul.media .add_link, ul.downloads .add_link
{
    float: right;
}

ul.media .remove_link, ul.downloads .remove_link
{
    float: right;
}

ul.media li.element, ul.downloads li.element
{
    list-style-type: none;
    background-color: #e1e1f2;
    padding: 10px;
    border-radius: 5px;
    margin: 0 0 10px;
}

#countdown
{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}