imports:
    - { resource: config_rest.yml }

noxlogic_rate_limit:
    enabled: false

monolog:
    handlers:
        main:
            type:   stream
            path:   "%kernel.logs_dir%/%kernel.environment%.log"
            level:  debug
        console:
            type:   console
            bubble: false