{% extends 'GameJamCompoBundle::layout.html.twig' %}

{% block content %}
    <div class="section profile">
        <h1>Recuperar contraseña</h1>

        <p>Acabamos de enviar un email a la dirección con la que te registraste con instrucciones para resetear tu contraseña.</p>
        <div class="clearfix"></div>
    </div>
{% endblock %}