{% extends 'GameJamCompoBundle::layout.html.twig' %}

{% block content %}
    <div class="section profile">
        <h1>Recuperar contraseña</h1>

        <p>Ya te hemos enviado un email para recuperar tu contraseña... ¡Revísalo, y si lo has perdido contacta con un administrador!</p>
        <div class="clearfix"></div>
    </div>
{% endblock %}