<div class="item creation">
    <img class="avatar" src="{{ user_avatar(item.user) }}" />
    <h3>{{ item.user }} ha creado el juego <strong>{{ item.game }}</strong></h3>
    <div class="clearfix"></div>
</div>
