<p class="item twitt">
    <i class="fa fa-twitter"></i> {{ activity.content.content|raw }}
    <span class="date"><i class="fa fa-clock-o"></i> {{ time_diff(activity.date) }}</span>
    <span class="date"><i class="fa fa-link"></i> ver twitt original</span>
</p>