<form action="{{ path('gamejam_user_shout') }}" method="post">
    {{ form_widget(form.content, {'attr':{'class':'shout form-control', 'placeholder':'Escribe aquí lo que se te pase por la mente...'}}) }}
    {{ form_rest(form) }}
</form>