{% extends 'GameJamCompoBundle::layout.html.twig' %}

{% block content %}
<div class="section profile">
    <h1>Tu perfil de usuario</h1>
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-success">
                {{ message|trans }}
            </div>
        {% endfor %}
    {% endfor %}
    <p>Este es tu perfil de usuario</p>
</div>
{% endblock %}