<div class="item achievement">
    <img class="avatar" src="{{ user_avatar(item.user) }}" />
    <h3>{{ item.user }} ha actualizado la información del juego <strong>{{ item.game }}</strong></h3>
    <div class="clearfix"></div>
</div>