<div class="item achievement">
    <img class="avatar" src="{{ user_avatar(item.user) }}" />
    <h3>{{ item.user }} se ha unido al equipo <strong>{{ item.team }}</strong></h3>
    <span class="date"><i class="fa fa-clock-o"></i> {{ time_diff(item.date) }}</span>
    <div class="clearfix"></div>
</div>