<div class="item achievement">
    <img class="avatar" src="{{ user_avatar(item.user) }}" />
    <h3>{{ item.user }} ha creado el equipo <strong>{{ item.team }}</strong></h3>
    <div class="clearfix"></div>
</div>