<div class="item achievement">
    <img class="avatar" src="{{ user_avatar(item.user) }}" />
    <h3>{{ item.user }} ha conseguido el logro <strong>{{ item.achievement }}</strong></h3>
    <div class="clearfix"></div>
</div>