<div class="item achievement">
    <h3><i class="fa fa-thumbs-up"></i> A <strong>{{ item.user }}</strong> le gusta <strong>{{ item.game }}</strong></h3>
    <span class="date"><i class="fa fa-clock-o"></i> {{ time_diff(item.date) }}</span>
    <div class="clearfix"></div>
</div>