<div style="background-color: #000">
<iframe height="323" width="49%" src="http://www.gaming.tv/embed/GameJamUA?size=big&video=true" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
<iframe style="z-index:-99" width="50%" height="280" src="https://www.youtube.com/embed/oKNVXFHRQTQ?rel=0&controls=0&showinfo=0&autoplay=1" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
</div>