<div style="background-color: #000">
    <div>
    <script type="text/javascript">
        // <![CDATA[
        var w = window,
                d = document,
                e;
        w._fpes || (w._fpes = [], w.addEventListener("load", function() {
            var s = d.createElement("script");
            s.src = "//embed.flowplayer.org/6.0.3/embed.min.js", d.body.appendChild(s)
        })), e = [].slice.call(d.getElementsByTagName("script"), -1)[0].parentNode, w._fpes.push({
            e: e,
            l: "http://zebra.cpd.ua.es:8080/flowplayer/6.0.3/flowplayer.min.js",
            c: {
                "ratio": 0.56,
                "rtmp": "rtmp://matt.cpd.ua.es/grabadirectos",
                "live": false,
                "origin": "http://si.ua.es/es/videostreaming/sede.html",
                "key": "$424289779008682",
                "swf": "http://zebra.cpd.ua.es:8080/flowplayer/6.0.3/flowplayer.swf",
                "swfHls": "http://zebra.cpd.ua.es:8080/flowplayer/6.0.3/flowplayerhls.swf",
                "embed": {
                    "library": "http://zebra.cpd.ua.es:8080/flowplayer/6.0.3/flowplayer.min.js",
                    "script": "http://zebra.cpd.ua.es:8080/flowplayer/6.0.3/embed.min.js",
                    "skin": "http://zebra.cpd.ua.es:8080/flowplayer/6.0.3/skin/functional.css",
                    "swf": "http://zebra.cpd.ua.es:8080/flowplayer/6.0.3/flowplayer.swf",
                    "swfHls": "http://zebra.cpd.ua.es:8080/flowplayer/6.0.3/flowplayerhls.swf"
                },
                "adaptiveRatio": false,
                "logo": "http://zebra.cpd.ua.es:8080/cw/img/logo-ua-fp.gif",
                "clip": {
                    "subtitles": [],
                    "sources": [{
                        "engine": "html5",
                        "src": "http://matt.cpd.ua.es:1935/grabadirectos/_definst_/mp4:directoGameJam1/playlist.m3u8",
                        "suffix": "m3u8",
                        "type": "application/x-mpegurl"
                    }, {
                        "engine": "flash",
                        "src": "http://matt.cpd.ua.es:1935/grabadirectos/_definst_/mp4:directoGameJam1/playlist.m3u8",
                        "suffix": "m3u8",
                        "type": "application/x-mpegurl"
                    }, {
                        "src": "mp4:directoGameJam1",
                        "suffix": "video/flash",
                        "type": "video/flash"
                    }]
                }
            }
        });
        // ]]>
    </script>
        </div>
    <div>
    <script type="text/javascript">
        // <![CDATA[
        var w = window,
                d = document,
                e;
        w._fpes || (w._fpes = [], w.addEventListener("load", function() {
            var s = d.createElement("script");
            s.src = "//embed.flowplayer.org/6.0.3/embed.min.js", d.body.appendChild(s)
        })), e = [].slice.call(d.getElementsByTagName("script"), -1)[0].parentNode, w._fpes.push({
            e: e,
            l: "http://zebra.cpd.ua.es:8080/flowplayer/6.0.3/flowplayer.min.js",
            c: {
                "ratio": 0.56,
                "rtmp": "rtmp://matt.cpd.ua.es/grabadirectos",
                "live": false,
                "origin": "http://si.ua.es/es/videostreaming/sede.html",
                "key": "$424289779008682",
                "swf": "http://zebra.cpd.ua.es:8080/flowplayer/6.0.3/flowplayer.swf",
                "swfHls": "http://zebra.cpd.ua.es:8080/flowplayer/6.0.3/flowplayerhls.swf",
                "embed": {
                    "library": "http://zebra.cpd.ua.es:8080/flowplayer/6.0.3/flowplayer.min.js",
                    "script": "http://zebra.cpd.ua.es:8080/flowplayer/6.0.3/embed.min.js",
                    "skin": "http://zebra.cpd.ua.es:8080/flowplayer/6.0.3/skin/functional.css",
                    "swf": "http://zebra.cpd.ua.es:8080/flowplayer/6.0.3/flowplayer.swf",
                    "swfHls": "http://zebra.cpd.ua.es:8080/flowplayer/6.0.3/flowplayerhls.swf"
                },
                "adaptiveRatio": false,
                "logo": "http://zebra.cpd.ua.es:8080/cw/img/logo-ua-fp.gif",
                "clip": {
                    "subtitles": [],
                    "sources": [{
                        "engine": "html5",
                        "src": "http://matt.cpd.ua.es:1935/grabadirectos/_definst_/mp4:directoGameJam2/playlist.m3u8",
                        "suffix": "m3u8",
                        "type": "application/x-mpegurl"
                    }, {
                        "engine": "flash",
                        "src": "http://matt.cpd.ua.es:1935/grabadirectos/_definst_/mp4:directoGameJam2/playlist.m3u8",
                        "suffix": "m3u8",
                        "type": "application/x-mpegurl"
                    }, {
                        "src": "mp4:directoGameJam2",
                        "suffix": "video/flash",
                        "type": "video/flash"
                    }]
                }
            }
        });
        // ]]>
    </script>
        </div>
</div>