{% extends 'GameJamCompoBundle::layout.html.twig' %}

{% block content %}
    <div class="section rules text">
        <h1>Bases del Concurso de creación de videojuegos y juegos de mesa VI GameJam (Julio 2015)</h1>
        <p class="norule">Las normas del concurso pueden cambiar en cada edición o cada cierto intervalo de tiempo. Es la responsabilidad del participante mantenerse actualizado de estos cambios. Aun así, haremos lo que esté en nuestras manos para informar a todos por los medios de los que disponemos.</p>
        <h2>Concurso</h2>
        <p><span>#1</span>La VI Game Jam Ultimate Alicante se celebrará los días 10,
            11 y 12 de Julio de 2015 en la sede Universitaria de la ciudad de Alicante.
            El plazo de inscripción se abrirá a las 19:00h del 9 de Junio
            y finalizará el 8 de Julio.
        </p>
        <p><span>#2</span>El precio para participar en el concurso de la Game Jam UA es de 6€.
            Para los socios de la Asociación Game Jam Alicante el precio será de 4€.
            El concurso constará de dos modalidades principales: videojuegos y
            juegos de mesa. Sólo se podrá participar en una de las dos modalidades.
        </p>
        <p><span>#3</span>Los juegos deberán desarrollarse enteramente en las 48 horas siguientes
            al inicio del concurso, que dará comienzo a las 18:30h del viernes 10 de
            julio de 2015; cualquier juego presentado fuera de ese plazo no
            entrará en el concurso. El desarrollo del juego incluirá completar el perfil
            del mismo en la plataforma www.gamejamua.com No completar el perfil
            podría suponer la descalificación del concurso.
        </p>
        <p><span>#4</span>El juego creado debe regirse a un tema propuesto por los organizadores
            y seleccionado al azar el día del evento. La interpretación del tema será
            completamente libre.
        </p>
        <p><span>#5</span>Los organizadores del evento podrán participar en la Game Jam pero no
            optar a premio alguno. El equipo que contenga a algún organizador
            tendrá la misma limitación.
        </p>
        <p><span>#6</span>El último día de la Game Jam cada uno hará una presentación breve
            sobre su juego y su desarrollo.
        </p>

        <p><span>#7</span>Los juegos se enviarán posteriormente a un jurado. Se publicará en la
            WEB los resultados definitivos y en función de ellos habrá una entrega de
            premios para los ganadores.
        </p>

        <p><span>#8</span>La asociación Game Jam Alicante proveerá del espacio para el desarrollo
            de los juegos y zona de descanso de aforo limitado; de sillas y mesas
            suficientes; acceso a la red eléctrica; y conexión a Internet exclusiva
            para ordenadores. No se proporcionará ningún material, por lo que cada
            participante deberá traer las herramientas que considere que necesita.
        </p>

        <p><span>#9</span>La participación en el Concurso supone la aceptación de
            estas y las siguientes bases. Cualquier punto no contemplado en ellas
            será resuelto por la organización del evento, y su decisión será
            inapelable.
        </p>
        <h2>Exclusivo para tipo de juegos "digitales"</h2>
        <p><span>#1</span>Una vez finalizado el plazo de desarrollo, se deberá entregar un
            ejecutable del juego junto con el código fuente, los recursos y todo lo
            necesario para ejecutarlo en un archivo comprimido en fomato .ZIP. En cualquier caso, el tamaño del fichero <strong>no podrá superar las 500MB</strong>
        </p>

        <p><span>#2</span>En caso de ser socio y organizador del evento, pueden existir ciertas limitaciones a la hora de participar en el concurso (eso no significa que no debas apuntarte ni que tu juego vaya a tener limitaciones). Para más detalles, contacta con nosotros en la sección de contacto. </p>

        <p><span>#3</span>Todos los juegos desarrollados en la Game Jam UA lo serán bajo una
            licencia de Creative Commons Attribution-NonCommercial-ShareAlike 3.0
            Unported License. Todos los contenidos del juego, además del código
            fuente y el ejecutable pertenecerán al desarrollador, y será libre de
            usarlos como quiera.
        </p>

        <p><span>#4</span>Para la creación del juego se permite utilizar cualquier herramienta
            destinada a ese uso o lenguaje de programación. (Unity, Blender,
            Stencyl, étc.), siempre y cuando sea de uso libre o se disponga de una
            licencia para ello.
        </p>

        <p><span>#5</span>Aunque la inscripción sea individual, se podrán formar equipos de como
            máximo 4 participantes. Los grupos se formarán utilizando la página
            www.gamejamua.com invitando a un máximo de 3 personas a vuestro
            grupo. El plazo para formar los grupos será desde el momento de la
            inscripción hasta seis horas después del inicio de la Game Jam. No se
            aceptarán ayudas externas de personas no inscritas en el concurso,
            aunque sean parciales, siendo causa de descalificación automática.
        </p>

        <p><span>#6</span> Los criterios de evaluación comunes para todos los videojuegos serán lo
            siguientes:<br>
            Gráficos<br>
            Audio<br>
            Originalidad<br>
            Entretenimiento<br>
            Tema.<br><br>
            Se podrán añadir otros criterios secundarios a discreción del jurado.
        </p>
        <h2>Exclusivo para tipo de juegos "de mesa"</h2>

        <p><span>#1</span>Una vez finalizado el plazo de desarrollo, se deberá entregar un prototipo
            jugable del juego de mesa a la organización en formato físico que incluya
            todos los componentes necesarios para su juego, así como un
            reglamento donde se detalle las mecánicas y el uso de cada uno de los
            componentes. El reglamento podrá ser entregado en formato digital
            en .PDF
        </p>

        <p><span>#2</span>Todos los juegos desarrollados en la Game Jam UA lo serán bajo una
            licencia de Creative Commons Attribution-NonCommercial-ShareAlike 3.0
            License. Todos los contenidos del juego desarrollado pertenecerán al
            desarrollador, y será libre de usarlos como quiera.
        </p>

         <p><span>#3</span>Para la creación del juego se permite utilizar cualquier herramienta
             digital de la que se disponga licencia o no la necesite, y material físico
             (papel, plástico, resina). Se admitirán todos los formatos de juegos de
             mesa a excepción de los abstractos.
         </p>

        <p><span>#4</span>Aunque la inscripción sea individual, se podrán formar equipos de como
            máximo 4 participantes. Los grupos se formarán utilizando la página
            www.gamejamua.com invitando a un máximo de 2 personas a vuestro
            grupo. El plazo para formar los grupos será desde el momento de la
            inscripción hasta seis horas después del inicio de la Game Jam. No se
            aceptarán ayudas externas de personas no inscritas en el concurso,
            aunque sean parciales, siendo causa de descalificación automática.
        </p>

        <p><span>#5</span>Las evaluaciones para los juegos de mesa serán las siguientes:<br>
            Premio al mejor juego<br>
            Premio al mejor diseño artístico<br>
            Premio a la originalidad<br>
        </p>
    </div>
{% endblock %}