{% extends 'GameJamCompoBundle::layout.html.twig' %}

{% block content %}
    <div class="section rules text">
        <img src="{{ asset('bundles/gamejamcompo/images/compos/bases.png') }}" style="width: 100%"/>
    </div>
{% endblock %}