{% extends 'GameJamCompoBundle::layout.html.twig' %}

{% block content %}
    <div class="section rules text">
        <h1>Normas de la GameJam</h1>
        <p class="norule">Las normas del concurso pueden cambiar en cada edición o cada cierto intervalo de tiempo. Es la responsabilidad del participante mantenerse actualizado de estos cambios. Aun así, haremos lo que esté en nuestras manos para informar a todos por los medios de los que disponemos.</p>
        <h2>Concurso</h2>
        <p><span>#1</span>El juego debe hacerse enteramente en las 48 horas siguientes al inicio del concurso; cualquier juego presentado fuera de ese plazo no entrará en el concurso. Todo el contenido del juego (música, gráficos…) deberá crearse en esas 48 horas (exceptuando el uso de contenido libre). Tras esas 48 horas deberás entregar un ejecutable del juego (o la versión online) junto con el código fuente, los recursos y todo lo necesario para ejecutar el juego.</p>
        <p><span>#2</span>Los plazos de inscripción para la Game Jam IV: Edición Solidaria que se va a celebrar los días 11, 12 y 13 de Julio de 2014, son: del 9 de Junio de 2014 al 27 de Junio de 2014.</p>
        <p><span>#3</span>El juego creado debe regirse a un tema propuesto por los organizadores y seleccionado al azar el día del evento.La interpretación del tema es completamente libre. </p>
        <p><span>#4</span>Además del tema se deberá elegir al menos uno entre varios diversificadores también propuestos por vosotros. Podréis escoger libremente tanto de la selección de diversificadores como los que se os ocurra en el momento.</p>
        <p><span>#5</span>El precio para participar en el concurso de la Game Jam UA es de 5€. Si eres un miembro integrante de nuestra asociación, el precio bajará a 3€. Esto incluye todo lo que podemos ofrecerte en el evento: el local durante las 48 horas, la red WiFi, comida y bebida que repartiremos para todos, premios para los ganadores… </p>
        <p><span>#6</span>Es obligatorio incluir el código fuente junto al juego. Todos los juegos desarrollados en la Game Jam UA están bajo una licencia de Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License. Todos los contenidos del juego, además del código fuente y el ejecutable son tuyos, y eres libre de usarlos como quieras. Asegúrate sin embargo de añadir este texto junto con tu juego. En la Game Jam UA procuramos guardar una copia de cada uno de los juegos (código fuente incluido) con el fin de que las empresas puedan evaluar todo el contenido creado en las 48 horas.</p>

        <p><span>#7</span>Para la creación del juego se permite utilizar cualquier herramienta destinada a ese uso o lenguaje de programación. (Unity, Blender, Stencyl, étc.), siempre y cuando sea de uso libre o tengáis una licencia para ello. </p>

        <p><span>#8</span>A la hora de subir al juego a la Game Jam UA, es necesario crear un archivo comprimido en fomato .ZIP que contenga el ejecutable, todo lo necesario para que se pueda ejecutar (lo cual facilitará muchísimo el trabajo al jurado) y el código fuente.</p>

        <p><span>#9</span>No nos comprometemos a guardar ninguno de los enlaces posteados por los usuarios (ya sean imágenes o juegos). Si deseas que tus enlaces sigan visibles procura mantenerlos activos.</p>

        <p><span>#10</span>Os sugerimos que publiquéis con regularidad en la web o por twitter (utilizando '#GameJamUA'[a] o su versión reducida '#GJUA') informes del avance y acompañados, si se desea, de betas del juego hasta el momento o el contenido (el poder ver ese avance se tendrá en cuenta a la hora de juzgar). Es aconsejable compartir de alguna forma el progreso del juego, ya sea con el sistema de mensajes de la web, en twitter o haciendo “live sharings". Es posible que para cada evento, exista un hashtag diferente que podréis usar para referirse a él.</p>

        <p><span>#11</span>En caso de ser socio y organizador del evento, pueden existir ciertas limitaciones a la hora de participar en el concurso (eso no significa que no debas apuntarte ni que tu juego vaya a tener limitaciones). Para más detalles, contacta con nosotros en la sección de contacto. </p>

        <p><span>#12</span>El último día de la Game Jam cada uno hará una presentación breve sobre su juego y su desarrollo.</p>
        <h2>Equipo</h2>

        <p><span>#1</span>Aunque la inscripción sea individual, una vez inscrito se pueden formar equipos de como máximo <strong>4 personas</strong>.</p>

        <p><span>#2</span>Los grupos se formarán utilizando la página WEB una vez inscritos en el evento. Los formaréis vosotros invitando a un máximo de 3 personas a vuestro grupo (sin incluiros). Es suficiente con que uno de los tres miembros envíe invitaciones a los otros, que deberán ser aceptadas antes de formarse el grupo de forma definitiva. De no invitar o ser invitado por alguien se considerará que participa de manera individual.</p>

         <p><span>#3</span>El plazo para formar los grupos será desde el momento de la inscripción hasta seis horas después del inicio de la Game Jam.</p>
        <h2>Votaciones</h2>
        <p><span>#1</span>Una vez acabada la Game Jam los juegos se enviarán a un jurado formado por empresas del sector de los videojuegos. Tras un periodo, que se definirá más adelante, publicaremos en la WEB los resultados definitivos y en función de ellos habrá una entrega de premios a los ganadores.</p>

            <p><span>#2</span>Los criterios de evaluación comunes para todos serán lo siguientes: Gráficos, Audio, Originalidad, Entretenimiento y Tema (Que se ajuste al tema, o a la interpretación que le hayas querido dar.)
            Otros criterios secundarios se podrán añadir a discreción del jurado.</p>

            <p><span>#3</span>Por medio de la página WEB se podrán tanto recibir votaciones del público como enviarlas a otros compañeros. </p>
        <h2>Lugar</h2>
        <p><span>#1</span>No se proporcionará ningún material. Cada participante debe traer su propio ordenador o herramienta que le haga falta.</p>

            <p><span>#2</span>Dentro de lo posible se proporcionará acceso a Internet de banda ancha a través de WiFi y a la red eléctrica.</p>

            <p><span>#3</span>Se dispondrá de una zona en la que los participantes podrán pasar la noche, sin embargo cada uno debe traerse su propio saco de dormir, etc. </p>

            <p><span>#4</span>Será necesario informar de si se va a usar el espacio para dormir. En caso contrario, la organización no garantizará su disponibilidad.</p>

            <p><span>#5</span>Se exigirá respeto absoluto del material ajeno y del establecimiento. De no ser así el participante puede ser expulsado y descalificado. </p>
        <h2>Página web</h2>
        <p><span>#1</span>Para esta y para futuras ediciones hemos decidido renovar la página WEB de la Game Jam UA añadiendo varias funcionalidades como son: la capacidad de obtener puntos (en forma de UltraCoins), nivel indicando el número de ediciones en las que has participado, un sistema de notificaciones con el cual se podrá poner en contacto con el resto de participantes o empresas, perfil individual personalizable, el uso de Twitter permitiendo vincular tu cuenta y apareciendo en la página publicando tweets con #GameJamUA o #GJUA</p>

            <p><span>#2</span>Registrarse en la WEB te garantizará muchas ventajas, entre ellas la de poder inscribirte a la Game Jam UA, pero ¡cuidado!, estar registrado no implica ser participante. Para ello deberás inscribirte desde la sección correspondiente una vez registrado.</p>

            <p><span>#3</span>A través de la página se publicarán las noticias relevantes de la edición.</p>

            <p><span>#4</span>Para no quedar en el olvido, todos los datos de las ediciones anteriores (sobre todo de la segunda) permanecen guardadas en esta página web, vinculadas a los usuarios correspondientes.</p>

            <p><span>#5</span>Es posible modificar información sobre tus juegos y tus grupos desde tu perfil.</p>

            <p><span>#6</span>Se podrán obtener logros por la participación en la página WEB, por los juegos creados y por la interacción con otros usuarios.</p>

            <p><span>#7</span>También se podrán añadir juegos propios en el perfil ajenos a la Game Jam UA, que no esté bajo concurso pero quieran tener una presencia en la comunidad GameJamera.</p>

            <p><span>#8</span>No garantizamos la continuidad de los enlaces subidos. Cada uno es responsable de sus propios enlaces y por ende debe estar pendiente de que sigan activas o no. Los únicos archivos que se almacenarán de forma provisional en la Game Jam UA serán los enlaces a los juegos definitivos de cada edición y de cada grupo.</p>

            <p><span>#9</span>Tus datos de contacto serán almacenados por la organización y sólo se utilizarán para la comunicación con los participantes y podrán ser cedidos a las empresas de videojuegos con el único fin de envío de ofertas laborales relacionadas con el sector. La participación en la Game Jam supone la aceptación de dicha cesión. En caso de desear ser borrado de la base de datos, puede solicitarlo mandando un correo con dicho asunto a la organización del evento</p>
    </div>
{% endblock %}
