DirectoryIndex index.php

<FilesMatch "/(config|composer(\.lock|\.json)|\.env)">
    Order allow,deny
    Deny from all
    Satisfy All
</FilesMatch>

RewriteEngine On
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]

# BEGIN WordPress

# END WordPress
